
//btn
.btn-primary{
  color: $color-light-text;
  background-color: $color_primary;
  border-color: $color_primary;
  &:hover, &:active,&.active{
    color: #fff;
    border-color: $color_primary;
    background-color: darken($color_primary, 4);
  }
  &:focus{
    color: #fff;
    border-color: $color_primary;
    background-color: darken($color_primary, 4);
    box-shadow: 0 0 0 0.25rem rgba($color_primary, .5);
  }
}



