.card-trans-center{
    text-align: center;
    padding:  30px 35px ;
    img{
        margin: 20px auto;
    }
    p{
        line-height: 1.1;
    }
}
.card-banner{
    border: 1px solid #B5B3B3;
    padding: 15px 20px;
    background: rgba(51, 105, 167, 0.06);
    border-radius: 6px;
    p{
        margin: 0;
    }

}